*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(17,17,232);
background: linear-gradient(90deg, rgba(17,17,232,1) 0%, rgba(120,146,244,0.8800113795518207) 100%);
}

#container {
    width: 20%;
    height: 40vh;

    position: relative;
    /* background-color: greenyellow; */
    overflow: hidden;
}
#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;


}
.icon {
    margin-top: 14px;
    /* border: solid 1px black; */
    text-align: center;
}
.icon i {
  
   
    cursor: pointer;
    color: rgb(243, 35, 35);
    font-size: 80px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0) ;
    transition: all;
transition-duration: 300ms;
   

}